/* black background */
.background1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 2;
    display: none;
}

/* Infobox styles */
.infoBox{
    background-color: var(--bgWhite);
    max-width: 550px;
    border-radius: 5px;
    display: none;
    z-index: 100;
    width: 50vw;
  }
    .infoBox-title{
      width: 100%;
      border-bottom: 1px solid #d3d3d3;
      display: flex;
      padding: 12px 25px;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 600;
      color: #414141;
    }
  
    .infoBox-list{
      padding: 10px 35px;
    }
      .infoBox-list:first-child{
        margin-top: 0;
      }
  
      .infoBox-list_item{
        margin: 5px 0;
      }

      .infoBox-list_item p{
        font-size: 15px;
        margin: 0;
      }

        .infoBox-list_item span{
          font-size: 17px;
          font-weight: 600;
          color: var(--wingoBlue);
        }
    
    .infoBox-buttons{
      height: 60px;
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 10px 25px;
      border: 1px solid lightgray;
    }
      .infoBox-buttons button{
        margin: 0 5px;
        padding: 3px;
        height: 35px;
        width: 110px;
        border: 1px solid var(--wingoBlue);
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        transition: .5 ease-in-out;
      }
  
        .infoBox-buttons_continue{
          background-color: var(--wingoBlue);
          color: #fff;
        }
          .infoBox-buttons_continue:hover{
            background-color: #4ca5d2;
            border: none;
          }
  
        .infoBox-buttons_back{
          background-color: inherit;
          color: var(--wingoBlue);
        }
          .infoBox-buttons_back:hover{
            background-color: #4ca5d2;
            color: #fff;
            border: none;
          }

  @media (max-width: 768px) {
    .infoBox-title{
      display: block;
    }

    .infoBox-buttons button{
      width: 35%;
    }
  }
  /*Phone resoponsive*/
  @media (max-width: 600px)
  {
    .infoBox{
      width: 100vw; 
    }
      .infoBox-title{
        display: flex;
        padding: 0 auto;
        margin: 0 auto;
        font-size: 18px;
      }

      .infoBox-list{
        margin: 0;
        padding: 10px 12px;
        text-align: start;
      } 
        .infoBox-list_item{
          margin-top: 5px;
        }

        .infoBox-list_item p, .infoBox-list_item span{
          font-size: 15px;
        }
  
      .infoBox-buttons{
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 14vh; 
      }
  
        .infoBox-buttons button{
          width: 100%;
          margin: 0;
        }
        .infoBox-buttons_back{
          margin-top: 10px;
        }
  
  }