.resultsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;

}

  .resultsBox-title{
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
    padding: 12px;
    align-items: baseline;
    width: 100%;
  }

    .resultsBox-title h3{
      color: #646464;
      margin: 0;
      font-size: 20px;

    }

  .wrapper {
    position: relative; 
    top: 0;
    height: 15em;
    width: 15em;
    display: flex;
    align-items: center;
    justify-self: center;
  }

    .outer{
      width: 15em;
      height: 15em;
      border-radius: 50%;
    }


      .inner{
        width: 15em;
        height: 15em;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
        .inner p{
          margin: 0;
        }
        .inner p:first-child{
          font-size: 3rem;
          font-weight: 600;
          color: #494949;
        }

          .inner span{
            font-size: 1.5rem;
            margin-left: 2px;
            font-weight: 600;
            color: var(--txtGray);
          }

        .inner p:last-child{
          font-size: 1rem;
          font-weight: 400;
          color: var(--txtGray);
        }

        #number{
          font-size: 2rem;
          font-weight: 600;
          color: #555555;
        }

    svg{
      position: absolute;
      top: 0px;
    }

      #charge{
        fill: none;
        stroke: url(#linearGradient);
        stroke-width: 20px;
        stroke-dashoffset: 1165;
        stroke-dasharray: 1165;
        stroke-linecap: round;
        animation: anim 1s ease forwards;
      }
      
      #chargeTotal{
        fill: none;
        stroke: #a1a1a14b;
        stroke-width: 20px;
        stroke-dashoffset: 1165;
        stroke-dasharray: 0;
      }
  .resultsBox_numbers{
    margin-top: 13px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
    .resultsBox-points{
      background-color: var(--wingoMagenta);
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 40px;
      border-radius: 8px;
      width: 115px;
      justify-content: space-around;
    }
      .resultsBox-points p{
        margin: 0;
        margin-right: 5px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1.2px;
      }

      .resultsBox-points h4{
        background-color: var(--wingoGray);
        padding: 3px 7px;
        border-radius: 5px;
        letter-spacing: 1px;
      }

  .resultsBox-buttons{
    width: 90%;
    margin: 5px 0 20px 0;
  }  
      .resultsBox-button{
        background-color: var(--wingoYellow);
        width: 100%;
        height: auto;
        color: #000;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        padding: 10px;
        cursor: pointer;
        transition: .5s ease;
      }

        .resultsBox-button:hover{
          background-color: #ddc54e;
          font-size: 18px;

        }

  @media (max-width: 600px){
    .resultsBox{
      width: 90%;
      padding: 40px;
    }

      .resultsBox-title h3{
        font-size: 3rem;
      }

      .resultsBox-points p, .resultsBox-points h4{
        font-size: 1.5rem;
      }

      .resultsBox-button{
        width: 100%;
      }
  }