.quizBox{
  max-height: 100vh;
  }
  

.quizBox header{
    position: relative;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .1);
  }

    .quizBox-headerTimer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 190px;
      height: 45px;
      background: var(--wingoMagenta);
      border-radius: 5px;
      padding: 0 10px;
      color: #fff;
    }

      .quizBox-headerTimer_text{
        font-weight: 400;
        font-size: 16px;
        user-select: none;
      }

      .quizBox-headerTimer_counter{
        position: relative;
        z-index: 99;
        font-size: 18px;
        font-weight: 500;
        background-color: var(--wingoGray);
        height: 30px;
        width: 45px;
        color: #000;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        user-select: none;
      }
    
    .quizBox-headerLineTime{
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: var(--wingoBlue); 
    }

    /*Alert box*/
  .quizBox-alert{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f94e4e;
    height: 0;
    width: 50%;
    margin: auto;
    color: #fcf4f4;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    animation: showAlert 1s;
    box-sizing: b;
    transition: height .5s ease-in-out;
  } 

    .active-alert{
      height: 30px;
    }
    
    .quizBox-alert p{
      opacity: 0;
      transition: opacity .5s ease-in-out;
    }
    
      .active-alert p{
        opacity: 1;
      }

  .quizBox-body{
    padding: 25px 35px 10px 35px;
    border-bottom: 1px solid #676767;
  }
    
    .quizBox-body_question{
      color: #3d3d3d;
      font-size: 21px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 8px;
    }

    .quizBox-body_optionList{
      padding: 20px 0;
      display: block;
    }
  
      .quizBox-body_optionList li{
        background: #ede9fc;
        border: 1px solid var(--wingoPurple1);
        border-radius: 5px;
        padding: 20px 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all .3s ease;
        height: 3rem;
      }

        .quizBox-body_optionList li:hover{
          background: #d0c5f9;
        }

        /*EXtra class responses*/
        .quizBox-body_optionList .disabled{
          pointer-events: none;
          
        }

        #correctAnswer{
          background: #d1fad1;
          border: 1px solid #208a20;
        }

        #wrongAnswer{
          background: #fd5050;
          border: 1px solid #f94e4e;
          color: white;
        }

         /*Icons style*/
        .optionList-iconContainer_correct{
          border: 2px solid #029e02;
          border-radius: 100%;
          padding: .12rem .4rem;
          background-color: #dff9df;  
          color: #029e02;
         }
          .fa-check{
            position: relative;
            right: .5px;
          }

        .optionList-iconContainer_wrong{
          color: #fd5050;
          border: 2px solid #fd5050;
          border-radius: 100%;
          padding: .15rem .5rem;
          background-color: #fcf4f4;  
          }

  .quizBox footer{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 0px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .quizBox-footerTotal span{
      display: flex;
      user-select: none;
    }

    .quizBox-footerTotal p{
      font-weight: 500;
      padding: 0 5px;
    }

    .quizBox-footerTotal_button{
      display: block;
      height: 40px;
      padding: 0 13px;
      font-weight: 400;
      border: none;
      outline: none;
      background: var(--wingoMagenta);
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }

      .quizBox-footerTotal_button:hover{
        background: #bd3d86;
      }
  
  
/* Mobile responsive */
@media (max-width: 600px) {
  .quizBox{
    width: 100vw;
  }
    .quizBox header{
      height: 100px;
      padding-bottom: 10px;
      justify-content: space-between;
      flex-direction: column;
    }

      header h3{
        margin: 0;
        padding: 0;
      }

    .quizBox-alert{
      width: 70%;
    } 
    
    .quizBox-body{
      padding: 40px 15px 10px;
      border-bottom: 1px solid #676767;
    }
      .quizBox-body_question{
        font-size: 20px;
        margin: 0;
      }

      .quizBox-body_optionList{
        margin: 0;
      }

        .quizBox-body_optionList li{
          height: 60px;
          padding: 25px 15px;
        }

        .optionList-iconContainer_correct{
          padding: 1px 5.5px;
          margin-left: 6px;
        }

        .optionList-iconContainer_wrong{
          padding: 1.5px 7px;
          margin-left: 5px;
        }

    .quizBox footer{
      height: 20%;
      flex-direction: column;
    }

      .quizBox-footerTotal_button{
        width: 100%;
        margin-top: 5px;
      }
}

@media (max-width: 350px){

.quizBox header{
  height: 70px;
  margin: 0;
  padding-bottom: 10px;
  justify-content: center;
  flex-direction: column;
}
    header h3{
      display: none;
    }

.quizBox-body_question{
  margin-top: 13px;
}

}